
@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600;
}

@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Gabriela', system-ui, sans-serif;
  }
}
.bg-wedding{
  background-image:url('../images/bg-white.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
}



